* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ---------------------------------------- Variáveis da Tela ---------------------------------------- */
:root {
    --cor-marrom: #8B4513;
    --cor-bege: #F5DEB3;
    --cor-laranja: #FF8C00;
    --cor-verde: #6B8E23;
    --cor-branco: #FFFFFF; 
    --cor-preto: #000000; 
    --cor-vermelho: #ff0000;
    --cor-amarelo: #FFFF00; 
    --cor-cinza: #4A4A4A;



    --fonte-cabeçalho: 'Acme', sans-serif;
    --fonte-titulos: 'Anton', sans-serif;
    --fonte-textos: 'Afacad', sans-serif;
}

/* ---------------------------------------- Base feita para Telas Pequenas (Mobile First) ---------------------------------------- */

body {
    font-family: var(--fonte-textos);
    color: var(--cor-preto);
    background-color: var(--cor-verde);
    position: relative;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/*----- Papel de Parede do Fundo -----*/
body::before {
    content: "";
    background-image: url('../img/Patas.png');
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.Cadastrar-Container {
    background-color: var(--cor-verde);
    padding: 30px 20px;
    border-radius: 25px;
    box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.25);
    max-width: 370px;
    width: 90%;
}

/* ---------------------------------------- Seção do Formulário (Mobile) ---------------------------------------- */
/* No mobile, os dois painéis (Info e Formulário) são transparentes e ficam um em cima do outro dentro do .Cadastrar-Container */

.Painel-Info-Perfil,
.Painel-do-Formulário {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Logo {
    width: 200px;
    margin-bottom: 10px;
}

.Painel-Info-Perfil h1 {
    color: var(--cor-branco);
    font-family: var(--fonte-textos);
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: -19px;
    margin-bottom: 30px;
}

.Painel-Info-Perfil h2 {
    color: var(--cor-branco);
    font-family: var(--fonte-textos);
    font-size: 1.5rem;
    letter-spacing: 0.02em;
    margin-bottom: 25px;
    text-align: center;
}

.Painel-Info-Perfil h3 {
    display: none;
}

.Botão-Enviar-Foto {
    width: 100%;
    padding: 8px 15px;
    background-color: var(--cor-cinza);
    border: 2px solid var(--cor-branco);
    border-radius: 10px;
    color: var(--cor-branco);
    font-family: var(--fonte-textos);
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    transition: transform 0.1s;
}

.Botão-Enviar-Foto:hover {
    transition: background-color 0.4s ease;
    background-color: var(--cor-laranja);
}

.Botão-Enviar-Foto:active {
    background-color: var(--cor-laranja);
    transform: scale(0.98);
}

.Botão-Enviar-Foto img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}


form {
    width: 100%;
}

.Dados-Usuário {
    margin-bottom: 15px;
    width: 100%;
    position: relative;
}

.Dados-Usuário label {
    display: block;
    color: var(--cor-branco);
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0.02em;
    margin-bottom: 5px;
}

.Dados-Usuário input {
    width: 100%;
    padding: 12px 15px;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    font-family: var(--fonte-textos);
    background-color: #F0F0F0;
    box-shadow: inset 0px 2px 4px 0px rgba(0, 0,0, 0.3);
}

.Botão-Concluir {
    width: 50%;
    display: block;
    margin: 10px auto 0;
    padding: 6px;
    background-color: var(--cor-laranja);
    border: 3px solid var(--cor-bege);
    border-radius: 10px;
    color: var(--cor-branco);
    font-family: var(--fonte-cabeçalho);
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.02em;
    cursor: pointer;
    margin-top: 25px;
    transition: transform 0.1s;
}

.Botão-Concluir:active {
    transform: scale(0.95);
}

.Botão-Concluir:hover {
    transition: background-color 0.3s ease;
    background-color: var(--cor-marrom);
}

.legenda-final {
    color: var(--cor-branco);
    text-align: center;
    margin-top: 15px;
    font-weight: 400;
    font-size: 0.9rem;
}

/* ---------------------------------------- Ajustes para Telas Grandes ---------------------------------------- */

@media (min-width: 900px) {
  
  .Cadastrar-Container {
        display: flex;
        flex-direction: row;
        padding: 0; 
        max-width: 1100px; 
        background-color: transparent; 
        box-shadow: none;
        min-height: 650px;
    }

    /*----- O PAINEL DA ESQUERDA (PRETO) -----*/
    .Painel-Info-Perfil {
        flex-basis: 50%; 
        background-color: var(--cor-preto);
        box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.25);
        border-radius: 25px 0 0 25px;
        padding: 40px 30px;
        justify-content: center; 
    }

    /*----- O PAINEL DA DIREITA (VERDE) -----*/
    .Painel-do-Formulário {
        flex-basis: 50%; 
        background-color: var(--cor-verde);
        box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.25);
        border-radius: 0 25px 25px 0;
        padding: 40px 70px;
        justify-content: center; 
    }

    .Logo {
        width: 300px; 
        height: 120px;
        margin-top: -30px;
    }

    .Painel-Info-Perfil h1 {
        font-size: 1.20rem;
        margin-top: -18px;
        margin-bottom: 25px;
    }

    .Painel-Info-Perfil h2 {
        font-size: 2.5rem;
        margin-bottom: 30px;
    }

    /*----- Ligando  o H3 de volta -----*/
    .Painel-Info-Perfil h3 {
        display: block;
        color: var(--cor-branco);
        font-family: var(--fonte-textos);
        font-size: 1.5rem;
        font-weight: 400;
        text-align: justify;
        margin: 20px 35px 50px 35px;
    }

    .Botão-Enviar-Foto {
        font-size: 1.4rem;
        width: 75%;
        margin: 0 auto; 
    }

    .Botão-Enviar-Foto img {
        width: 40px;
        height: 40px;
    }

    .Dados-Usuário input {
        padding: 15px; 
        font-size: 1rem;
    }

    .Dados-Usuário label {
        font-size: 1.3rem;
    }

    .Botão-Concluir {
        width: 50%;
        font-size: 1.8rem;
        letter-spacing: 0.02em;
        padding: 8px;
        margin-top: 40px;
    }

    .legenda-final {
        font-size: 1.1rem;
        margin-top: 60px;
    }
}

/* ---------------------------------------- Mensagem de Erro ---------------------------------------- */

.Mensagem-de-Erro {
    display: none;
    width: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: var(--cor-preto);
    background-color: var(--cor-cinza);
    box-shadow: inset 0px 0px 3px 2px rgba(0, 0, 0, 0.3);
    padding: 12px 15px;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 35px;
    margin-bottom: 20px;
}
