* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------------------------------- Variáveis da Tela ---------------------------------------- */
:root {
    --cor-marrom: #8B4513;
    --cor-bege: #F5DEB3;
    --cor-laranja: #FF8C00;
    --cor-verde: #6B8E23;
    --cor-branco: #FFFFFF; 
    --cor-preto: #000000; 
    --cor-vermelho: #ff0000;
    --cor-amarelo: #FFFF00; 
    --cor-cinza: #DBCDCD;


    --fonte-cabeçalho: 'Acme', sans-serif;
    --fonte-titulos: 'Anton', sans-serif;
    --fonte-textos: 'Afacad', sans-serif;
}

/* ---------------------------------------- Base feita para Telas Pequenas (Mobile First) ---------------------------------------- */

body {
    font-family: var(--fonte-textos);
    color: var(--cor-preto);
    background-color: var(--cor-verde);
    position: relative;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;

}

body::before {
    content: "";
    background-image: url('../img/Patas.png');
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.Retângulo-Container {
    background-color: var(--cor-verde);
    padding: 30px 20px;
    border-radius: 25px;
    box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.25);
    max-width: 370px;
    width: 85%;
}

/* ---------------------------------------- Seção Painel de Informações ---------------------------------------- */

.Painel-Informações {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Logo {
    width: 200px;
    margin-bottom: 10px;
}

.Painel-Informações h1 {
    color: var(--cor-branco);
    font-family: var(--fonte-textos);
    font-size: 0.85rem;
    font-weight: 400;
    margin-top: -19px;
    margin-bottom: 30px;
}

.Painel-Informações h2 {
    color: var(--cor-branco);
    font-family: var(--fonte-textos);
    font-size: 1.5rem;
    letter-spacing: 0.02em;
    margin-bottom: 15px;
    text-align: center;
}

.Painel-Informações h3 {
    color: var(--cor-branco);
    font-family: var(--fonte-textos);
    font-weight: 400;
    font-size: 0.9rem;
    letter-spacing: 0.02em;
    margin-left: 35px;
    margin-right: 35px;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 35px;
    line-height: 15px;
}

/* ---------------------------------------- Seção Formulário ---------------------------------------- */

.Formulário {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 100%;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.Senha-Cadastrada {
    width: 100%;
    position: relative;
}

.Senha-Cadastrada label {
    display: block;
    color: var(--cor-branco);
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0.02em;
    margin-bottom: 5px;
}

.Senha-Cadastrada input {
    width: 100%;
    padding: 12px 15px;
    padding-right: 45px;
    border: none;
    border-radius: 15px;
    font-size: 0.8rem;
    letter-spacing: 0.02em;
    font-size: var(--fonte-textos);
    background-color: #F0F0F0;
    box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.Botão-Enviar-Código {
    width: 50%;
    display: block;
    margin: 20px auto 0;
    padding: 6px;
    background-color: var(--cor-laranja);
    border: 2px solid var(--cor-bege);
    border-radius: 10px;
    color: var(--cor-branco);
    font-family: var(--fonte-cabeçalho);
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.02em;
    cursor: pointer;
    transition: transform 0.1s;
}

.Botão-Enviar-Código:active {
    transform: scale(0.95);
}

.Botão-Enviar-Código:hover {
    transition: background-color 0.3s ease;
    background-color: var(--cor-marrom);
}

.tenho-conta {
    color: var(--cor-branco);
    text-align: center;
    margin-top: 15px;
    font-weight: 400;
    font-size: 1rem;
}

.tenho-conta a {
    color: var(--cor-amarelo);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 0.02em;
}

.Mensagem-de-Erro {
    display: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: var(--cor-preto);
    background-color: var(--cor-cinza);
    box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 12px 15px;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    margin-top: 35px;
    margin-bottom: 20px;
    font-weight: 400;
}

/* ---------------------------------------- Ajustes para Telas Grandes ---------------------------------------- */

@media (min-width: 900px) {
    .Retângulo-Container {
        display: flex;
        flex-direction: column;
        padding: 20px 20px;
        max-width: 500px;
        max-height: 700px;
        box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.25);
    }

    .Logo {
        width: 300px;
    }

    .Painel-Informações {
        flex-basis: 50%;
        justify-content: center;
    }

    .Painel-Informações h1 {
        font-size: 1.25rem;
        margin-top: -20px;
        margin-bottom: 25px;
    }

    .Painel-Informações h2 {
        font-size: 2.5rem;
        margin-bottom: 30px;
    }

    .Painel-Informações h3 {
        font-size: 1.25rem;
        line-height: 20px;
        margin-top: -25px;
    }

    .Formulário {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0 30px;
        justify-content: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 15px;
    }

    .Senha-Cadastrada label {
        margin-top: 0px;
        font-size: 1.3rem;
    }

    .Senha-Cadastrada input {
        font-size: 1rem;
        padding: 20px;
    }

    .Botão-Enviar-Código {
        width: 60%;
        font-size: 1.7rem;
        font-weight: 400;
        border: 3px solid var(--cor-bege);
    }

    .tenho-conta,
    .tenho-conta a {
        font-size: 1.3rem;
        margin-top: 25px;
        letter-spacing: 0.03em;
    }

    .Mensagem-de-Erro {
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
        padding: 12px;
        box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.4);
    }
}