* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------------------------------- Variáveis do Projeto ---------------------------------------- */
:root {
    --cor-marrom: #8B4513;
    --cor-bege: #F5DEB3;
    --cor-laranja: #FF8C00;
    --cor-verde: #6B8E23;
    --cor-verde-escuro: #2d380e; 
    --cor-branco: #FFFFFF; 
    --cor-preto: #000000; 
    --cor-vermelho: #ff0000;
    --cor-amarelo: #FFFF00; 
    --cor-cinza: #DBCDCD;
    --cor-cinza-input: #f0f0f0;
    --cor-cinza-escuro: #3d3d3d;
    --cor-cinza-botao: #4A4A4A;
    --cor-cinza-caixa: #D9D9D9;
    --cor-cinza-marcacao: #E4E4E4;

    --fonte-cabeçalho: 'Acme', sans-serif;
    --fonte-titulos: 'Anton', sans-serif;
    --fonte-textos: 'Afacad', sans-serif;
}

/* ---------------------------------------- Base feita para Telas Pequenas (Mobile First) ---------------------------------------- */
/* ---------- Base Geral ---------- */
body {
    background-color: var(--cor-branco);
    font-family: var(--fonte-textos);
    overflow-x: hidden;
}

.Pagina-Historias {
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px;
}

/* ---------- Topo e Filtros ---------- */
.Topo-Pagina {
    display: flex;
    flex-direction: column; 
    gap: 15px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    position: relative; 
    align-items: center; 
}

.Topo-Pagina::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw; 
    height: 5px; 
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);  
    z-index: -1; 
}

.Titulo-Secao {
    font-family: var(--fonte-titulos);
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: var(--cor-preto);
    text-align: center;
}

.Filtros-Container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.Btn-Filtro {
    background: transparent;
    border: 1px solid var(--cor-laranja);
    color: var(--cor-laranja);
    padding: 6px 16px;
    border-radius: 10px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s;
    font-family: var(--fonte-textos);
}

.Btn-Filtro.ativo, .Btn-Filtro:hover {
    background-color: var(--cor-laranja);
    color: var(--cor-branco);
    font-weight: 700;
}

/* ---------- Card ---------- */
.Lista-Historias {
    display: flex;
    flex-direction: column;
    gap: 40px; 
}

.Card-Historia {
    background-color: var(--cor-bege); 
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.Foto-Wrapper {
    width: 100%;
    height: 250px; 
}

.Foto-Pet {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Conteudo-Card {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Cabecalho-Card h3 {
    font-family: var(--fonte-titulos);
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: 0.03em;
    margin-top: -20px;
    margin-bottom: -5px;
    text-align: center;
}

.Frase-Efeito {
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--cor-preto);
    text-align: center; 
}

.Texto-Depoimento {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--cor-preto);
    text-align: justify;
}

.Tags-Container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 7px;
    justify-content: center;
    align-items: center;
}

.Tag-Marrom {
    background-color: var(--cor-marrom);
    color: var(--cor-branco);
    padding: 5px 12px;
    border-radius: 15px;
    font-size: 0.9rem;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* -------- Paginação da Tela -------- */
.paginacao-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    font-family: var(--fonte-textos);
}

.paginacao-container button {
    background-color: var(--cor-branco);
    border: 2px solid var(--cor-laranja);
    color: var(--cor-preto);
    padding: 10px 17px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s;
}

.paginacao-container button:hover:not(:disabled) {
    background-color: var(--cor-laranja);
    color: var(--cor-branco);
}

.paginacao-container button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    border-color: var(--cor-cinza);
}

#indicador-paginacao {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--cor-marrom);
}

/* -------- Chamada Final -------- */
.Chamada-Final {
    text-align: center;
    padding: 40px 20px;
}

.Titulo-CTA {
    font-family: var(--fonte-titulos);
    font-size: 1.9rem;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 1.3;
    margin-bottom: 12px;
}

.Subtitulo-CTA {
    text-align: justify;
    font-size: 1.1rem;
}

.Botao-Laranja-CTA {
    display: inline-block;
    margin-top: 20px;
    background-color: var(--cor-laranja);
    color: var(--cor-branco);
    padding: 12px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: all 0.3s;
}
/* ---------------------------------------- Ajustes para Telas Médias ---------------------------------------- */
@media (min-width: 900px) {
    /* ---------- Topo e Filtros ---------- */
    .Topo-Pagina {
        flex-direction: row; 
        justify-content: center; 
        align-items: center; 
        gap: 40px; 
    }

    .Titulo-Secao {
        font-size: 2rem;
    }

    /* ---------- Card ---------- */
    .Card-Historia {
        flex-direction: row; 
        align-items: stretch; 
        min-height: 350px;
    }

    .Foto-Wrapper {
        width: 40%; 
        height: auto; 
    }

    .Conteudo-Card {
        width: 60%; 
        padding: 40px; 
        justify-content: center; 
    }

    /* -------- Chamada Final -------- */
    .Subtitulo-CTA {
        text-align: center;
        font-size: 1.1rem;
    }

    .Botao-Laranja-CTA {
        border-radius: 10px;
    }

    .Botao-Laranja-CTA:hover {
        background-color: var(--cor-marrom);
    }
}

/* ---------------------------------------- Ajustes para Telas Grandes ---------------------------------------- */
@media (min-width: 1400px) {
    /* ---------- Topo e Filtros ---------- */
    .Titulo-Secao {
        font-size: 2.8rem;
    }

    .Filtros-Container {
        gap: 20px;
    }

    .Btn-Filtro {
        border: 1.5px solid var(--cor-laranja);
        font-size: 1.2rem;
    }

    /* ---------- Card ---------- */
    .Cabecalho-Card h3 {
        font-size: 2.2rem;
        letter-spacing: 0.04em;
    }

    .Frase-Efeito {
        font-weight: 600;
        font-size: 1.6rem;
    }

    .Texto-Depoimento {
        font-size: 1.2rem;
        line-height: 1.5;
    }

    .Tag-Marrom {
        font-size: 1rem;
        font-weight: 500;
    }

    /* -------- Chamada Final -------- */
   .Titulo-CTA {
        font-size: 2.1rem;
    }

    .Subtitulo-CTA {
        font-size: 1.3rem;
        margin-bottom: 10px;
    }

    .Botao-Laranja-CTA {
        border-radius: 12px;
        font-size: 1.4rem;
    }
}