* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ---------------------------------------- Variáveis da Tela ---------------------------------------- */
:root {
    --cor-marrom: #8B4513;
    --cor-bege: #F5DEB3;
    --cor-laranja: #FF8C00;
    --cor-verde: #6B8E23;
    --cor-verde-escuro: #2d380e; 
    --cor-branco: #FFFFFF; 
    --cor-preto: #000000; 
    --cor-vermelho: #ff0000;
    --cor-amarelo: #FFFF00; 
    --cor-cinza: #DBCDCD;
    --cor-cinza-input: #f0f0f0;
    --cor-cinza-escuro: #3d3d3d;
    --cor-cinza-botao: #4A4A4A;
    --cor-cinza-caixa: #D9D9D9;
    --cor-cinza-marcacao: #E4E4E4;

    --fonte-cabeçalho: 'Acme', sans-serif;
    --fonte-titulos: 'Anton', sans-serif;
    --fonte-textos: 'Afacad', sans-serif;
}

/* ---------------------------------------- Base feita para Telas Pequenas (Mobile First) ---------------------------------------- */
body {
    font-family: var(--fonte-textos);
    background-color: var(--cor-branco); 
}

.Header {
    background-color: var(--cor-verde);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px; 
    position: relative;
    width: 100%;
    padding-left: 5px; 
    padding-right: 10px; 
    z-index: 50; 
}

/*----- Logo -----*/
.Logo-Container {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.Logo-Link {
    display: block;
    height: 55px; 
}

.Logo-Img {
    height: 100%;
    width: auto;
    object-fit: contain;
}

/*-------------------- Menu Hamburguer --------------------*/
.Hamburger {
    display: block; 
    background: none;
    border: none;
    cursor: pointer;
    padding-right: 10px;
    z-index: 20;
}

.Hamburger .linha {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--cor-branco);
    transition: all 0.3s ease-in-out;
}

/*-------------------- Animação do Hamburguer --------------------*/
.Hamburger.active .linha:nth-child(2) { opacity: 0; }
.Hamburger.active .linha:nth-child(1) { transform: translateY(8px) rotate(45deg); }
.Hamburger.active .linha:nth-child(3) { transform: translateY(-8px) rotate(-45deg); }

/*-------------------- Navegação Mobile --------------------*/
.Navegacao-Menu {
    position: absolute;
    top: 70px;
    left: -100%; 
    width: 100%;
    background-color: var(--cor-verde);
    display: flex; 
    flex-direction: column;
    align-items: center;
    transition: 0.4s;
    z-index: 15;
    border-top: 1.5px solid rgba(255,255,255,0.2);
}

.Navegacao-Menu.active { left: 0; }

.Navegacao-Menu ul {
    list-style: none;
    width: 100%;
    text-align: center;
    padding: 0;
}

.Navegacao-Menu ul li { margin: 15px 0; }

.Navegacao-Menu a {
    color: var(--cor-branco);
    text-decoration: none;
    font-family: var(--fonte-cabeçalho);
    font-size: 1.3rem;
    transition: color 0.2s ease;
}

/*-------------------- Link Entrar do Mobile --------------------*/
.Entrar {
    display: block; 
    text-transform: uppercase; 
    letter-spacing: 0.03em;
    text-decoration: underline;
    text-decoration-color: var(--cor-laranja);
    text-underline-offset: 4px;
    text-decoration-thickness: 4px;
}

/*-------------------- Link Ativo --------------------*/
.Navegacao-Menu a.active {
    color: var(--cor-marrom); 
}


/*-------------------- Área do Usuário Desktop (Escondida no Mobile) --------------------*/
.Area-Usuario {
    display: none; 
}
.Login-Container { display: none; }


/*-------------------- Pop-up do Login --------------------*/
.Pop-up-Entrar {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.Pop-up-Entrar.active {
    opacity: 1;
    visibility: visible;
}

.Entrar-Container {
    background-color: var(--cor-verde);
    border-radius: 10px 0px 5px 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    width: 90%;
    max-width: 341px;
    min-height: 326px;
    padding: 30px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Pop-up-Fechar {
    position: absolute;
    top: 5px;
    right: 10px;
    background: none;
    border: none;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-weight: bold;
    transition: color 0.2s ease;
}

.Pop-up-Fechar:hover { color: var(--cor-preto); }

.Entrar-Container h2 {
    font-family: var(--fonte-textos);
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--cor-branco);
    text-align: center;
    margin-bottom: 5px;
    letter-spacing: 0.02em;
    line-height: 1.1;
}

.Entrar-Container p {
    font-family: var(--fonte-textos);
    font-weight: 400;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: 0.02em;
}

.Secao-Login, .Secao-Cadastro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-modal {
    width: 135px;
    height: 43px;
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--cor-amarelo);
    font-family: var(--fonte-textos);
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: 0.02em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-modal:hover {
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0.3);
}

.Divisor-Ou {
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

.Linha {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    top: 50%;
}

.Badge-Ou {
    background-color: var(--cor-verde); 
    padding: 0 10px;
    z-index: 2;
    color: var(--cor-branco);
    font-family: var(--fonte-textos);
    font-weight: 700;
    font-size: 1.2rem;
}

/* ---------------------------------------- Ajustes para Telas Médias ---------------------------------------- */
@media (min-width: 900px) {

    .Header {
        justify-content: flex-start; 
        padding-right: 45px; 
    }

    .Logo-Container {
        width: fit-content; 
        padding-right: 50px; 
        position: relative; 
        z-index: 10;
        background: none; 
    }

    /*----- Faixa Diagonal -----*/
    .Logo-Container::after {
        content: '';
        position: absolute;
        top: 0; bottom: 0; right: 15px; width: 10px;
        background-color: var(--cor-verde-escuro);
        transform: skewX(-35deg); 
    }
    
    .Logo-Link { height: 60px; }

    .Hamburger { display: none; }

    /*---------------- Menu Horizontal ----------------*/
    .Navegacao-Menu {
        position: static; 
        display: flex;
        flex-direction: row; 
        width: auto;
        background-color: transparent;
        border: none;
        padding: 0;
        margin-left: 10px; 
        flex-grow: 1;
        justify-content: flex-start;
    }

    .Navegacao-Menu ul {
        display: flex;
        gap: 25px; 
        padding: 0;
    }

    .Navegacao-Menu ul li { margin: 0; }

    /*---- Esconde o link "Entrar" do menu no Desktop ----*/
    .Entrar { display: none; }
    
    .Navegacao-Menu a {
        font-size: 18px; 
        color: var(--cor-branco);
        white-space: nowrap;
    }

    .Navegacao-Menu a:hover { color: var(--cor-marrom); }

    /*---- Área do Usuário Desktop ----*/
    .Area-Usuario {
        display: block; 
        position: relative; 
    }

    .Login-Container { display: block; }

    .Botão-Entrar {
        font-family: var(--fonte-cabeçalho);
        font-size: 25px; 
        background-color: var(--cor-laranja);
        color: var(--cor-branco);
        padding: 5px 25px; 
        border-radius: 25px; 
        text-decoration: none;
        transition: all 0.2s ease;
        display: flex; 
        align-items: center;
        justify-content: center;
    }

    .Botão-Entrar:hover {
        background-color: var(--cor-marrom); 
        transform: scale(1.1); 
    }

    /* Modal Posicionado como Popover */
    .Pop-up-Entrar {
        background-color: transparent;
        position: absolute;
        top: 11px; 
        right: 5px;  
        left: auto;
        width: 341px;
        height: auto;
        display: block; 
        padding-top: 0;
    }
    
    .Entrar-Container {
        background-color: var(--cor-verde);
        margin-top: 0;
        box-shadow: 0 0 5px rgba(0,0,0,0.25);
    }
    
    /* ---------------- Opções do Usuário ----------------*/
    .retangulo-usuario {
        width: 221px;
        height: 52px;
        background-color: var(--cor-verde);
        border-radius: 5px 25px 25px 5px; 
        box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
        display: flex;
        align-items: center;
        justify-content: flex-start; 
        cursor: pointer;
        position: relative; 
        transition: transform 0.2s ease;
    }

    .retangulo-usuario:hover { transform: scale(1.02); }

    .avatar-usuario {
        width: 52px;
        height: 52px;
        border-radius: 5px; 
        object-fit: cover; 
    }

    .User-Name {
        font-family: var(--fonte-textos); 
        font-weight: 700;
        font-size: 1.8rem; 
        letter-spacing: 0.02em;
        color: var(--cor-branco);
        margin-left: 25px; 
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 130px; 
    }

    .opcoes {
        position: absolute;
        top: 100%;       
        left: 0;         
        margin-top: 8px; 
        width: 221px;
        height: auto;
        padding-top: 5px; 
        padding-bottom: 5px; 
        background-color: var(--cor-verde);
        border-radius: 5px 25px 25px 25px; 
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px); 
        transition: all 0.3s ease;
        z-index: 100; 
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        padding-left: 17px; 
        padding-right: 10px; 
        list-style: none; 
    }

    .retangulo-usuario:hover .opcoes {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .opcoes li { margin-bottom: 0; }

    .opcoes a, 
    .opcoes .link-sair {
        font-family: 'Afacad', sans-serif; 
        font-size: 1.25rem; 
        line-height: 30px;  
        color: var(--cor-branco);
        text-decoration: none;
        transition: color 0.2s ease;
        display: block;
        
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        width: 100%;
        text-align: left;
    }

    .opcoes a:hover, 
    .opcoes .link-sair:hover {
        color: var(--cor-marrom);
        font-weight: 600;
    }
}

/* ---------------------------------------- Ajustes para Telas Grandes ---------------------------------------- */
@media (min-width: 1400px) {
    .Header { 
        height: 80px;
    }

    .Logo-Link {
        height: 75px; 
    }

    .Logo-Container { 
        padding-right: 50px;
    }

    .Navegacao-Menu {
        margin-left: 35px; 
    }

    .Navegacao-Menu ul {
        gap: 45px; 
    }

    .Navegacao-Menu a {
        font-size: 22px; 
    }

    .Logo-Container::after {
        right: 25px;
    }
    
    .Botão-Entrar { 
        padding: 10px 25px;
    }
}