* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------------------------------- Variáveis da Tela ---------------------------------------- */
:root {
    --cor-marrom: #8B4513;
    --cor-bege: #F5DEB3;
    --cor-laranja: #FF8C00;
    --cor-verde: #6B8E23;
    --cor-branco: #FFFFFF; 
    --cor-preto: #000000; 
    --cor-vermelho: #ff0000;
    --cor-amarelo: #FFFF00; 
    --cor-cinza: #DBCDCD;
    --cor-cinza-input: #f0f0f0;
    --cor-cinza-botao: #4A4A4A;


    --fonte-cabeçalho: 'Acme', sans-serif;
    --fonte-titulos: 'Anton', sans-serif;
    --fonte-textos: 'Afacad', sans-serif;
}

/* ---------------------------------------- Base feita para Telas Pequenas (Mobile First) ---------------------------------------- */

body {
    font-family: var(--fonte-textos);
    background-color: var(--cor-verde);
    position: relative;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;

}

body::before {
    content: "";
    background-image: url('../img/Patas.png');
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
}

.Redefinir-Container {
    background-color: var(--cor-verde);
    width: 90%;
    max-width: 400px;
    padding: 40px 30px;
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ---------------------------------------- Seção Painel de Informações ---------------------------------------- */

.Painel-Informações {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}

.Logo {
    width: 200px;
    margin-bottom: 10px;
}

.Painel-Informações h1 {
    color: var(--cor-branco);
    font-size: 0.85rem;
    font-weight: 400;
    margin-top: -19px;
    margin-bottom: 25px;
}

.Painel-Informações h2 {
    color: var(--cor-branco);
    font-family: var(--fonte-textos);
    font-size: 1.8rem;
    margin-bottom: 15px;
    letter-spacing: 0.02em;
}

.Painel-Informações h3 {
    color: var(--cor-branco);
    font-size: 1.1rem;
    letter-spacing: 0.02em;
    font-weight: 400;
    line-height: 20px;
    margin-top: -12px;
}

/* ---------------------------------------- Seção Verificação do Código ---------------------------------------- */

.Verificação-Código, .Nova-Senha {
    width: 100%;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Dados-Usuário {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.Dados-Usuário label {
    display: block;
    color: var(--cor-branco);
    margin-bottom: 5px;
    font-size: 1.2rem;
}

.Dados-Usuário input {
    width: 100%;
    padding: 12px 15px;
    border-radius: 10px;
    border: none;
    font-family: var(--fonte-textos);
    font-size: 1.1rem;
    background-color: var(--cor-cinza-input);
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.3);

}


.Nova-Senha {
    margin-top: 30px; 
}

/*----- Modificando o retângulo do input. -----*/
#codigo-verificacao {
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.5em;
    font-weight: 700;
    color: var(--cor-preto);
}

/*----- Padrão básico para os botões -----*/
button {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    font-family: var(--fonte-textos);
    font-size: 1.35rem;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.2s ease;
}

/*---------- Botão 1 ----------*/
.Botão-Verificar {
    background-color: #ff0000c6;
    color: var(--cor-preto);
    font-weight: 700;
    letter-spacing: 0.02em;
    border: 2px solid #444;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Botão-Verificar:hover {
    background-color: #ff0000;
    color: var(--cor-branco);
}

/*---------- Botão 2 ----------*/
.Botão-Salvar {
    background-color: var(--cor-laranja);
    font-family: var(--fonte-cabeçalho);
    color: var(--cor-branco);
    font-weight: 400;
    letter-spacing: 0.025em;
    font-size: 1.5rem;
    border: 3px solid var(--cor-bege);
    margin-top: 15px;
}

.Botão-Salvar:hover {
    background-color: var(--cor-marrom);
}

button:active {
    transform: scale(0.98);
}

.Reenviar {
    width: 100%;
    text-align: center;
    margin-top: 25px;
    color: var(--cor-branco);
    font-size: 1.2rem;
}

.Reenviar a {
    color: var(--cor-amarelo);
    font-weight: 600;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.Reenviar a:hover {
    text-decoration: underline;
}

.icone-olho {
    position: absolute;
    right: 15px;
    bottom: 11px;
    width: 22px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.icone-olho:hover {
    opacity: 1;
}

.Mensagem-de-Erro {
    display: none;
    width: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: var(--cor-preto);
    background-color: var(--cor-cinza);
    box-shadow: inset 0px 0px 3px 2px rgba(0, 0, 0, 0.3);
    padding: 12px 15px;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 35px;
    margin-bottom: 20px;
}

/* ---------------------------------------- Ajustes para Telas Grandes ---------------------------------------- */

@media (min-width: 900px) {
    .Redefinir-Container {
        max-width: 600px;
    }

    .Logo {
        width: 250px;
    }

    .Painel-Informações h1 {
        font-size: 1rem;
        margin-top: -25px;
        letter-spacing: 0.025em;
    }

    .Painel-Informações h2 {
        font-size: 2.3rem;
        margin-bottom: 8px;
    }

    #form-codigo {
        flex-direction: row;
        align-items: flex-end; 
        gap: 30px; 
    }

    #form-codigo .Dados-Usuário {
        flex: 1; 
        margin-bottom: 0; 
    }

    #form-codigo .Botão-Verificar {
        width: auto; 
        padding: 12px 25px; 
        height: 55px; 
        font-size: 1.5rem;
    }

    #form-nova-senha {
        align-items: center; 
    }

    #form-nova-senha .Botão-Salvar {
        width: 60%; 
        margin-top: 30px; 
    }

} 