<footer class="footer">
    <div class="footer-container">
        <div class="logo-slogan-redes-sociais">
            <div class="logo-slogan">
                <a href="index.html"> <img src="img/Logo (Branco) web 1.png" alt="Logo do Meu Futuro Amigo" class="footer-logo"> </a>
                <h2 class="slogan">Conectando Corações e Patas</h2>
            </div>

            <div class="redes-sociais">
                <a href="pages/redes-sociais.html" aria-label="Facebook" class="facebook"><img src="img/facebook branco.png" alt="Logo Facebook"></a>
                <a href="pages/redes-sociais.html" aria-label="X (Twitter)" class="x"><img src="img/x.png" alt="Logo X"></a>
                <a href="pages/redes-sociais.html" aria-label="Instagram" class="instagram"><img src="img/instagram branco.png" alt="Logo Instagram"></a>
                <a href="pages/redes-sociais.html" aria-label="TikTok" class="tiktok"><img src="img/tik tok.png" alt="Logo TikTok"></a>
            </div>

        </div>

            <div class="navegacao">
                <h3>Navegue</h3>
                <ul>
                    <li><a href="pages/adotar.html">Adotar</a></li>
                    <li><a href="pages/finais-felizes.html">Finais Felizes</a></li>
                    <li><a href="pages/como-ajudar.html">Como Ajudar</a></li>
                    <li><a href="pages/sobre-nos.html">Sobre Nós</a></li>
                </ul>
            </div>

            <div class="contato">
                <h3>Contato</h3>
                <p class="telefone">(87) 98199-5299</p>
                <p class="email">meu.futuro.amigo.contato@gmail.com</p>
            </div>

    </div>

    <div class="direitos">
        <p>&copy; 2025 Meu Futuro Amigo. Todos os direitos reservados.</p>
        <p>&copy; Desenvolvido por Athos Inácio.</p>
    </div>

</footer>