<header class="Header">
    <div class="Logo-Container">
        <a href="/index.html" class="Logo-Link"><img src="/img/Logo (Branco) web 1.png" alt="Meu Futuro Amigo" class="Logo-Img"></a>
    </div>

    <button class="Hamburger" aria-label="Botão Abrir Menu">
        <span class="linha"></span>
        <span class="linha"></span>
        <span class="linha"></span>
    </button>

    <nav class="Navegação-Menu">
        <ul>
            <li class="Entrar-Mobile">
                <a href="#" class="Link-Entrar-Mobile js-open-modal">Entrar</a>
            </li>
            <li><a href="/pages/adotar.html">Adotar</a></li>
            <li><a href="/pages/finais-felizes.html">Finais Felizes</a></li>
            <li><a href="/pages/como-ajudar.html">Como Ajudar</a></li>
            <li><a href="/pages/sobre-nos.html">Sobre Nós</a></li>
        </ul>
    </nav>

    <div class="User-Area">
        
        <div id="btn-login-container">
            <a href="#" class="Botão-Entrar js-open-modal">Entrar</a>
        </div>

        <div id="user-profile-container" class="User-Pill" style="display: none;">

            <img src="../img/Perfil.png" alt="Perfil" id="header-user-avatar" class="User-Avatar">
            <span id="header-user-name" class="User-Name">Usuário</span>

            <ul class="User-Dropdown">
                <li><a href="#">Perfil</a></li>
                <li><a href="#">Minhas Adoções</a></li>
                <li><a href="#">Minhas Divulgações</a></li>
                <li><button id="btn-logout" class="link-logout">Sair</button></li>
            </ul>

        </div>

    </div> 

    <div class="Pop-up-Entrar" id="Pop-up-Entrar">

        <div class="Entrar-Container">

            <button class="Pop-up-Fechar" aria-label="Fechar Pop-up Entrar">&times;</button>
            
            <div class="Secao-Login">
                <h2>Já tem uma conta?</h2>
                <p>Conecte-se para continuar ajudando</p>
                <button class="btn-modal btn-fazer-login">Fazer Login</button>
            </div>

            <div class="Divisor-Ou">
                <div class="Linha"></div>
                <div class="Badge-Ou">ou</div>
            </div>

            <div class="Secao-Cadastro">
                <h2>Não tem uma conta?</h2>
                <p>Junte-se à nossa comunidade de Heróis</p>
                <button class="btn-modal btn-criar-conta">Criar Conta</button>
            </div>

        </div>

    </div>
       
</header>